<%- include('../includes/head') %>
<body>
    <%- include('../includes/navigation') %>
    <main>
        <% if(cart.length){ %>
            <h1>Cart</h1>
            <h4>Items to buy</h4>
            <div class="grid">
                <% for(let item of cart){%>
                    <article class="card product-itemsd">
                        <header class="card__header">
                            <h1 class="product__title">
                                <%=item.title%>
                            </h1>
                        </header>
                        <div class="card_content">
                            <h2 class="product__price"> 123
                            </h2>
                            <p class="product__description">
                                ahskhfksjkbfdbsjkkskjdkbsbdjkskjksjbjkbf
                            </p>
                        </div>
                    </article>
                <%}%>
            </div>
        <%} else{%>
            <h3>No Products to order</h3>
        <%}%>
    </main>
</body>
</html>